.container-cropper {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #328daa;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.hidden-input {
  display: none;
}

.container-cropper .img-container {
  border-radius: 50%;
  border: 5px solid white
}

.container .img-container img {
  display: block;
  border-radius: 50%;
}

.change-avatar-button {
  color: white;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.change-avatar-button:hover {
  visibility: visible;
  opacity: 1;
  background-color: #99d5fd;
}