.list-games-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

/* //66FCF1 45A29E  //C5C6C7  1F2833 */
/* // #1A1A1D, #4E4E50, #6F2232, #950740, #C3073F */
.list-games-box {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  min-width: 200px;
  height: auto;
  min-height: 200px;
  /* border: 5px solid #a6e9e9; */
  border: 5px solid #922c2c;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  background-color: rgba(250, 117, 117, 0.377);
  color: #6e0318;
  /* backrgb(78, 11, 11)color: rgba(205, 247, 244, 0.507); */
}

.add-game-icon {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  min-width: 200px;
  height: auto;
  min-height: 200px;
  border: 5px solid #922c2c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(250, 95, 95, 0.281);
  padding: 20px;
}

.add-game-icon span {
  font-size: 64px;
}