body {
  background-color: #E1F2FD;
  color: black;
}

.main-container {
  background-color: #E1F2FD;
  border: 2px solid #FF6F61;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-games-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

/* //66FCF1 45A29E  //C5C6C7  1F2833 */
/* // #1A1A1D, #4E4E50, #6F2232, #950740, #C3073F */
.list-games-box {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  min-width: 200px;
  height: auto;
  min-height: 200px;
  position: relative;
  /* border: 5px solid #a6e9e9; */
  border: none;
  /* border: 5px solid #922c2c; */
  border: 2px solid #9cc8ec;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  background-color: white;
  /*rgba(250, 117, 117, 0.377);*/
  color: black;
  /* backrgb(78, 11, 11)color: rgba(205, 247, 244, 0.507); */
}

.add-game-icon {
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  min-width: 200px;
  height: auto;
  min-height: 200px;
  border: 5px solid #5682c4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  /* rgba(250, 95, 95, 0.281);*/
  padding: 20px;
}

.add-game-icon span {
  font-size: 64px;
}


.button-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-spin-wheel {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.spin-wheel-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
}

.spin-wheel-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}