.registration-form-container {
  display: flex;
  align-items: center;
}

.registration-image {
  flex: 1;
  margin-left: 50px;
  padding: 10px;
}

.registration-image img {
  max-width: 80%;
  height: auto;
  border-radius: 10%;
  /* border: 5px solid #6F2232; */
}

.registration-form {
  flex: 1;
  margin-right: 20%;
  max-width: 400px;
}

.registration-button {
  margin: 10px 10px 10px 0px;
}